<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Arena</title>
    <link rel="stylesheet" href="static/style/index.css">
</head>

<body>
    <section>Павлов Алексей, группа 1023, сайт на тему "Компьютерный клуб" </section>
    <nav>
        <a href="#about">О нас</a>
        <a href="#computers">Бронь компов</a>
        <a href="#contact">Контакты</a>
        <a href="/register">Регистрация</a>
    </nav>
    <section id="about">
        <h2>О нас</h2>
        <p>Добро пожаловать на Кибер Арену! Испытайте лучшие игровые возможности с новейшими компьютерами, высокоскоростным доступом в Интернет и комфортной игровой средой. Забронируйте станцию ​​прямо сейчас и погрузитесь в игровую вселенную!</p>
    </section>
    <section id="computers">
        <h2>Доступные компьютеры</h2>
        <div class="computers">
            <div class="computer">
                <a href="item" target="_blank"><img src="static/src/сom1.jpg" alt="Computer 1">
                <h3>A B C ZONE</h3></a>
                <p>NVIDIA GTX 1660S, Ryzen 5 2600x, 16 GB</p>
                <p>Цена: 38–90 ₽ / ЧАС</p>
                <button><a href="/form" target="_blank">Забронировать</a></button>
            </div>
            <div class="computer">
                <img src="static/src/comp2.webp" alt="Computer 2">
                <h3>Y ZONE</h3>
                <p>RTX 3070ti, 16 GB, Ryzen 5 5600x</p>
                <p>Цена 50-120р / ЧАС</p>
                <button><a href="form" target="_blank" >Забронировать</a></button>
            </div>
            <div class="computer">
                <img src="static/src/comp3.webp" alt="Computer 3">
                <h3>X ZONE</h3>
                <p>RTX 4070ti, 32 GB, i5-13600KF</p>
                <p>Цена от 58-160р / ЧАС</p>
                <button><a href="form" target="_blank">Забронировать</a></button>
            </div>
            <div class="computer">
                <img src="static/src/1zzz.jpg.webp" alt="Computer 4">
                <h3>ИНДИВИДУАЛЬНАЯ ИГРОВАЯ ЗОНА</h3>
                <p>RTX 4070 TI, 32 GB, i5-13600KF</p>
                <p>Цена: 100-200р / ЧАС</p>
                <button><a href="form" target="_blank">Забронировать</a></button>
            </div>
            <div class="computer">
                <img src="static/src/comp5.webp" alt="Computer 5">
                <h3>CYBER ARENA</h3>
                <p>RTX 3070 TI, 16 gb, ryzen 5 5600x</p>
                <p>От 45р / ЧАС</p>
                <button><a href="form" target="_blank">Забронировать</a></button>
            </div>
            <div class="computer">
                <img src="static/src/comp6.webp" alt="Computer 6">
                <h3>BOOTCAMP</h3>
                <p>RTX 4070 TI, 32 gb, i5-13600KF</p>
                <p>от 54р / ЧАС</p>
                <button><a href="form" target="_blank">Забронировать</a></button>
            </div>
        </div>
    </section>
    <section id="contact">
        <h2>Cвязаться с нами.</h2>
        <p>Если у вас есть какие-нибудь вопросы или вы хотите забронировать для всей компании? Звоните нам!</p>
        <p>Email: contact@cyberarena.com</p>
        <p>Номер телефона: +1 234 567 890</p>
    </section>
    <footer>
        <p>2024 Cyber Arena. All Rights Reserved.</p>
    </footer>
</body>
</html>
