<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station 1 Details</title>
    <link rel="stylesheet" href="static/style/item.css">
</head>

<body>
    <section>Павлов Алексей, группа 1023</section>
    <header>
        <h1>A-B-C Zone</h1>
    </header>
    <section>
        <div class="specifications">
            <h2>Характеристики</h2>
            <p>Видеокарты от компании NVIDIA GTX 1660S
                <p>- Оперативная память 16gb</p>
                <p>- Топовые процессоры AMD Ryzen 5 2600x</p>
                <p>- Мониторы ARTCORE AE27G165 (165Hz 27 дюймов)</p>
                <p>- Только лучшие игровые кресла ARTCORE G-100</p>
                <p>- Игровые мышки ARTCORE K-Series-S 6400dpi</p>
                <p>- Механические клавиатуры ARTCORE K-Series-X</p>
                <p>- Игровые гарнитуры ARTCORE G-Series V10</p>
                <p>- Коврик ARTCORE PRO M</p>
            </p>
        </div>
        <div class="image-container">
            <img src="/src/сom1.jpg" alt="Station 1">
        </div>
    </section>
    <section>
        <h2>Описание</h2>
        <p>Отличный вариант, чтобы испытать преимущества компьютерного клуба нового поколения</p>
    </section>
    <div class="actions">
        <button>Забронировать</button>
    </div>
</body>
</html>
